## 4.9.1.6 Preparing data for merge

## 4.9.1.6 Preparing data for merge

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [3]:
# import customer data
path = r'C:\Users\darii\Documents\10-2023 Instacart Basket Analysis'
customers=pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'customers_4.9.1_ZA.pkl'))

In [3]:
customers.head(10)

,user_id,name,surname,gender,state,age,date_joined,n_dependants,status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,2017-01-01,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,2017-01-01,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,2017-01-01,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,2017-01-01,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,2017-01-01,1,married,40374
5,133128,Cynthia,Noble,Female,Kentucky,43,2017-01-01,2,married,49643
6,152052,Chris,Walton,Male,Montana,20,2017-01-01,0,single,61746
7,168851,Joseph,Hickman,Male,South Carolina,30,2017-01-01,0,single,63712
8,69965,Jeremy,Vang,Male,Texas,47,2017-01-01,1,married,162432
9,82820,Shawn,Chung,Male,Virginia,26,2017-01-01,2,married,32072

In [11]:
customers.dtypes

user_id                 object
name                    object
surname                 object
gender                  object
state                   object
age                      int64
date_joined     datetime64[ns]
n_dependants             int64
status                  object
income                   int64
dtype: object

In [4]:
customers['age'] = customers['age'].astype('int8')

In [12]:
customers['income'] = customers['income'].astype('int32')

In [5]:
customers.info

<bound method DataFrame.info of        user_id      name   surname  gender           state  age date_joined  \
0        26711   Deborah  Esquivel  Female        Missouri   48  2017-01-01
1        33890  Patricia      Hart  Female      New Mexico   36  2017-01-01
2        65803   Kenneth    Farley    Male           Idaho   35  2017-01-01
3       125935  Michelle     Hicks  Female            Iowa   40  2017-01-01
4       130797       Ann   Gilmore  Female        Maryland   26  2017-01-01
...        ...       ...       ...     ...             ...  ...         ...
206204  168073      Lisa      Case  Female  North Carolina   44  2020-04-01
206205   49635    Jeremy   Robbins    Male          Hawaii   62  2020-04-01
206206  135902     Doris  Richmond  Female        Missouri   66  2020-04-01
206207   81095      Rose   Rollins  Female      California   27  2020-04-01
206208   80148   Cynthia     Noble  Female        New York   55  2020-04-01

        n_dependants   status  income
0                  3  married  165665
1                  0   single   59285
2                  2  married   99568
3                  0   single   42049
4                  1  married   40374
...              ...      ...     ...
206204             1  married  148828
206205             3  married  168639
206206             2  married   53374
206207             1  married   99799
206208             1  married   57095

[206209 rows x 10 columns]>

In [6]:
# import ords prods data
path = r'C:\Users\darii\Documents\10-2023 Instacart Basket Analysis'
orders_products_merged=pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_4.9.1_cleaned.pkl'))

In [7]:
orders_products_merged.head(10)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_spend,spender_flag,median_days_since_prior_order,order_frequency_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Mid-range product,Regularly busy,Regularly busy days,Most orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Mid-range product,Regularly busy,Regularly busy days,Average orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.930208,Low spender,8.0,Frequent customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,Mid-range product,Regularly busy,Least busy days,Most orders,3,New customer,4.972414,Low spender,9.0,Frequent customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,Mid-range product,Least busy,Least busy days,Average orders,3,New customer,4.972414,Low spender,9.0,Frequent customer
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,...,Mid-range product,Regularly busy,Busiest days,Average orders,26,Regular customer,6.935398,Low spender,11.0,Regular customer
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,...,Mid-range product,Regularly busy,Regularly busy days,Most orders,9,New customer,5.957576,Low spender,20.0,Regular customer
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,...,Mid-range product,Regularly busy,Least busy days,Most orders,12,Regular customer,6.680000,Low spender,6.0,Frequent customer
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,...,Mid-range product,Regularly busy,Busiest days,Average orders,20,Regular customer,7.162500,Low spender,10.0,Frequent customer
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,...,Mid-range product,Regularly busy,Busiest days,Most orders,20,Regular customer,7.162500,Low spender,10.0,Frequent customer

In [8]:
orders_products_merged.dtypes

product_id                         int64
product_name                      object
aisle_id                           int64
department_id                      int64
prices                           float64
order_id                           int64
user_id                           object
order_number                       int64
orders_day_of_week                 int64
order_hour_of_day                  int64
days_since_prior_order           float64
new_customer                        bool
add_to_cart_order                  int64
reordered                          int64
price_range_loc                   object
busiest_day                       object
busiest_days                      object
busiest_period_of_day             object
max_order                          int64
loyalty_flag                      object
mean_spend                       float64
spender_flag                      object
median_days_since_prior_order    float64
order_frequency_flag              object
dtype: object

In [10]:
orders_products_merged['product_id'] = orders_products_merged['product_id'].astype('int32')
orders_products_merged['aisle_id'] = orders_products_merged['aisle_id'].astype('int8')
orders_products_merged['department_id'] = orders_products_merged['department_id'].astype('int8')
orders_products_merged['order_id'] = orders_products_merged['order_id'].astype('int32')
orders_products_merged['order_number'] = orders_products_merged['order_number'].astype('int32')
orders_products_merged['orders_day_of_week'] = orders_products_merged['orders_day_of_week'].astype('int8')
orders_products_merged['order_hour_of_day'] = orders_products_merged['order_hour_of_day'].astype('int8')
orders_products_merged['add_to_cart_order'] = orders_products_merged['add_to_cart_order'].astype('int8')
orders_products_merged['reordered'] = orders_products_merged['reordered'].astype('int8')
orders_products_merged['max_order'] = orders_products_merged['max_order'].astype('int8')

In [11]:
orders_products_merged.info

<bound method DataFrame.info of           product_id                product_name  aisle_id  department_id  \
0                  1  Chocolate Sandwich Cookies        61             19
1                  1  Chocolate Sandwich Cookies        61             19
2                  1  Chocolate Sandwich Cookies        61             19
3                  1  Chocolate Sandwich Cookies        61             19
4                  1  Chocolate Sandwich Cookies        61             19
...              ...                         ...       ...            ...
32404854       49688      Fresh Foaming Cleanser        73             11
32404855       49688      Fresh Foaming Cleanser        73             11
32404856       49688      Fresh Foaming Cleanser        73             11
32404857       49688      Fresh Foaming Cleanser        73             11
32404858       49688      Fresh Foaming Cleanser        73             11

          prices  order_id user_id  order_number  orders_day_of_week  \
0            5.8   3139998     138            28                   6
1            5.8   1977647     138            30                   6
2            5.8    389851     709             2                   0
3            5.8    652770     764             1                   3
4            5.8   1813452     764             3                   4
...          ...       ...     ...           ...                 ...
32404854    13.5   1788356  200215             2                   0
32404855    13.5   3401313  200377             1                   4
32404856    13.5    809510  200873             5                   3
32404857    13.5   2359893  200873             9                   3
32404858    13.5   2385091  205926            11                   1

          order_hour_of_day  ...    price_range_loc     busiest_day  \
0                        11  ...  Mid-range product  Regularly busy
1                        17  ...  Mid-range product  Regularly busy
2                        21  ...  Mid-range product     Busiest day
3                        13  ...  Mid-range product  Regularly busy
4                        17  ...  Mid-range product      Least busy
...                     ...  ...                ...             ...
32404854                  9  ...  Mid-range product     Busiest day
32404855                 11  ...  Mid-range product      Least busy
32404856                  8  ...  Mid-range product  Regularly busy
32404857                 15  ...  Mid-range product  Regularly busy
32404858                 15  ...  Mid-range product  Regularly busy

                 busiest_days  busiest_period_of_day max_order  \
0         Regularly busy days            Most orders        32
1         Regularly busy days         Average orders        32
2                Busiest days         Average orders         5
3             Least busy days            Most orders         3
4             Least busy days         Average orders         3
...                       ...                    ...       ...
32404854         Busiest days            Most orders         6
32404855      Least busy days            Most orders         4
32404856      Least busy days         Average orders        20
32404857      Least busy days            Most orders        20
32404858         Busiest days            Most orders        11

              loyalty_flag mean_spend spender_flag  \
0         Regular customer   6.935811  Low spender
1         Regular customer   6.935811  Low spender
2             New customer   7.930208  Low spender
3             New customer   4.972414  Low spender
4             New customer   4.972414  Low spender
...                    ...        ...          ...
32404854      New customer   8.220313  Low spender
32404855      New customer   7.364516  Low spender
32404856  Regular customer   8.500344  Low spender
32404857  Regular customer   8.500344  Low spender
32404858  Regular customer   8.133333  Low spender

          median_days_since_prior_order   order_frequency_flag
0                                   8.0      Frequent customer
1                                   8.0      Frequent customer
2                                   8.0      Frequent customer
3                                   9.0      Frequent customer
4                                   9.0      Frequent customer
...                                 ...                    ...
32404854                            7.0      Frequent customer
32404855                           30.0  Non-frequent customer
32404856                            6.0      Frequent customer
32404857                            6.0      Frequent customer
32404858                            6.0      Frequent customer

[32404859 rows x 24 columns]>

In [13]:
orders_products_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_4.9.1_cleaned.pkl'))

In [14]:
customers.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'customers_4.9.1_cleaned.pkl'))